<div class="w-100 bg-white p-2 d-flex align-items-center justify-content-between">
  <img src="assets/logo/logo.png" alt="">
  <div class="d-flex gap-4 align-items-center">
    <i class="bi bi-bell position-relative fs-4 mt-2">
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger noti-span" >
        1
      </span>
    </i>

    <div class="d-flex align-items-center gap-2 bg-body-secondary p-1 rounded-3">
      <img src="assets/user photo.png" alt="">
      <p class="m-0 profile-name">Ahmed Mabbrouk</p>
    </div>
  </div>
</div>